/* Root  */
:root {
  --gray-txt: #6d6d6d;
}

/* Reset  */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Generics  */
img {
  display: inline-block;
}

/* ! Header  */

.main-content header {
  flex-direction: row-reverse;
  height: 90px;
  width: calc(100vw - 50px);
  background-color: rgba(0, 0, 0, 0.5);
}

/* ! Main  */
/* * Sidebar  */
.main {
  overflow-y: scroll;
  width: calc(100vw - 90px);
  height: calc(100vh - 180px);
  padding: 20px;
}

.sidebar {
  width: 50px;
  height: calc(100vh - 90px);
  background-color: black;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}

.sidebar > div {
  flex-direction: column;
}
/* Sidebar icons  */
.sidebar > div img {
  width: 25px;
}
.nav-menu {
  justify-content: center;
  margin: 3px 0;
  width: 200px;
}
#logo {
  margin: 5px 0;
}
.logo-lg {
  display: none;
}

/* Botside  */
#download img {
  transform: scale(0.5);
}
#profile-pic {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  overflow: hidden;
  background-color: gray;
}
.sidebar .bot-side {
  margin-bottom: 10px;
}
/* ! Footer */
footer {
  height: 90px;
  background-color: #282828;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Utilities  */
.flex {
  display: flex;
}
.wrap {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hidden {
  display: none;
}

/* ********************************** */
/* RESPONSIVE */
/* ********************************** */

/* !Tablet!  */

@media screen and (min-width: 576px) {
  /* Layout  */
  .main {
    width: calc(100vw - 240px);
  }
  .sidebar,
  .sidebar > div {
    min-width: 200px;
  }
  .main-content header {
    width: calc(100vw - 200px);
  }
  .sidebar {
    height: calc(100vh - 105px);
    padding: 15px 15px 0 15px;
  }

  /* Sidebar  */
  .nav-menu {
    justify-content: flex-start;
  }
  #logo img {
    width: 150px;
    margin-bottom: 20px;
  }
  .logo-lg {
    display: block;
  }
  .logo-sm {
    display: none;
  }
}
