/* Root  */
:root {
  --gray-txt: #6d6d6d;
}

/* Reset  */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Generics  */
body {
  font-family: "Montserrat", sans-serif;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: var(--gray-txt);
}
h6 {
  color: var(--gray-txt);
}
/* ! Header  */

.main-content header {
  height: 90px;
  width: calc(100vw - 50px);
  background-color: #080b12;
  align-items: center;
  justify-content: end;
  position: sticky;
}
header .btn {
  color: white;
  margin-right: 20px;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 20px;
  font-size: small;
}
header .btn:hover {
  transform: scale(1.1);
}

/* ! Main  */
/* * Main content  */
/* Top menu - list  */
.main-menu ul {
  color: var(--gray-txt);
  font-size: 0.7rem;
  font-weight: 600;
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}
.border-container {
  width: 100%;
  position: relative;
}
.main-menu .b-bottom {
  width: 30px;
  border-bottom: 2px solid red;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.main-menu ul a:hover {
  color: white;
}
.main-menu a:hover + .b-bottom {
  border-color: white;
  box-shadow: 0 5px 10px 3px red;
}
/* Row  */
.row {
  color: white;
}
.row ul {
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;
}
.row .card {
  text-align: center;
  padding-right: 10px;
}
.row li {
  width: 50%;
}
.row img {
  width: 100%;
}
.row .card h5 {
  margin: 10px 0;
}
.row .card h6 {
  margin: 0;
}
.image {
  position: relative;
}

/* Row with header and subtitle  */
.row.no-spacing-header h1 {
  margin-bottom: 10px;
}
.row.no-spacing-header h6 {
  margin-bottom: 20px;
  margin-top: 0;
}
/* Most popular Artists */
.rounded-cards a {
  border-radius: 50%;
  overflow: hidden;
  display: block;
}

/* Cards  */
.card .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.rounded-cards .card .overlay {
  border-radius: 50%;
}
.image:hover .overlay {
  opacity: 1;
}
.image .overlay .fa-circle-play {
  color: white;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay .fa-circle-play:hover {
  text-shadow: 0 0 20px white;
}
/* * Sidebar  */
.main {
  overflow-y: auto;
  width: calc(100vw - 90px);
  height: calc(100vh - 220px);
  padding: 20px;
  background-color: #141922;
}

.sidebar {
  width: 50px;
  max-height: calc(100vh - 90px);
  background-color: black;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  font-weight: 600;
}
.nav-menu:hover a {
  color: white;
}

.sidebar > div {
  flex-direction: column;
}
/* Sidebar Main icons  */
.sidebar > div img {
  width: 25px;
}
.sidebar > div img:hover {
  filter: drop-shadow(0 0 10px white);
}
.nav-menu {
  justify-content: center;
  width: 200px;
}
#logo {
  margin: 5px 0;
}
.logo-lg {
  display: none;
}
.logo-lg a:hover img {
  filter: drop-shadow(0 0 10px white);
}
.sidebar .function {
  align-items: center;
  padding: 5px 0;
}
.sidebar .function img {
  margin-right: 5px;
}

/* Sidebar playlist */
.sidebar .playlist span {
  display: inline-block;
  padding: 10px;
  background-color: var(--gray-txt);
  color: black;
}
.sidebar ul {
  padding: 0;
  list-style-type: none;
}
.sidebar li {
  padding: 10px 0;
  font-weight: 600;
}
.playlist a:hover {
  color: white;
}
#new-playlist:hover span {
  background-color: white;
}
.playlist-container {
  overflow: scroll;
}

/* Botside  */
#download img {
  transform: scale(0.6);
}
#profile-pic {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  overflow: hidden;
  background-color: gray;
  margin-right: 5px;
}
#profile-txt {
  font-weight: 700;
  color: white;
}
.sidebar .bot-side {
  margin-bottom: 10px;
}
/* ! Footer */
footer {
  height: 90px;
  background-color: #282828;
  color: white;
  position: relative;
}
.footer-bar {
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.footer-bar > div {
  height: 100%;
}

/* Left side  */
.left-side img {
  height: 40px;
}
.left-side {
  font-size: 10px;
  align-items: center;
  font-weight: 700;
}
.song-info {
  color: var(--gray-txt);
}
.song-info a:hover {
  color: white;
  text-decoration: underline;
}
.song-menu {
  color: var(--gray-txt);
  margin-left: 10%;
  font-size: 1rem;
}
.song-menu a:hover {
  color: white;
}
.song-pic {
  margin: 0 10px;
}
/* * Center side  */

/* controls  */

.center-side > div {
  height: 50%;
  align-items: center;
}
.song-controls-container {
  justify-content: center;
}
.song-controls {
  gap: 20px;
  width: 166px;
  justify-content: center;
}
.song-controls a {
  color: white;
}
.song-controls a:hover {
  transform: scale(1.1);
}
.song-controls a:hover i {
  text-shadow: 0 0 5px white;
}
.play-btn {
  border: 2px solid white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

/* Progress bar  */

.song-progress-bar {
  justify-content: center;
}
.song-progress-bar span {
  font-size: 0.5rem;
}
.progress-bar-btn {
  width: 100%;
}
.progress-bar {
  flex-basis: 100%;
  height: 3px;
  background-color: gray;
  position: relative;
}
.progress-bar:hover .progress-bar-status {
  background-color: lightgreen;
}
.progress-bar-status {
  height: 3px;
  width: 30%;
  background-color: lightblue;
}
.song-lasts {
  justify-content: flex-end;
}
.song-controls .fa-circle-play {
  margin: 0 10px;
}
.round {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: #666;
  position: absolute;
  left: 30%;
  top: 0;
  transform: translate(-50%, -40%);
  display: none;
}
.progress-bar:hover .round,
.volume-bar:hover .round {
  display: block;
}
/* Volume bar */

.right-side {
  justify-content: end;
  align-items: center;
}
.right-side i {
  font-size: 0.8rem;
}
.volume-bar {
  height: 3px;
  width: 70px;
  background-color: gray;
  border-radius: 10px;
  position: relative;
}
.volume-menu {
  margin: 0 10px;
}
.volume-bar-icons {
  justify-content: end;
  gap: 10%;
  width: 50%;
}
.volume-bar-icons a {
  color: white;
}
.volume-bar-icons a:hover {
  text-shadow: 0 0 5px white;
}
.volume-bar-status {
  height: 3px;
  width: 30%;
  background-color: lightblue;
}
.volume-bar:hover .volume-bar-status {
  background-color: greenyellow;
}
/* Utilities  */
.flex {
  display: flex;
}
.wrap {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hidden {
  display: none;
}
.debug {
  border: 1px dashed white;
}
.col-33 {
  width: calc(100% / 3);
}
.col-15 {
  width: 15%;
}
/* ********************************** */
/* RESPONSIVE */
/* ********************************** */

/* !Smartphone lg screen!  */

@media screen and (min-width: 576px) {
  /* Layout  */
  .main {
    width: calc(100vw - 270px);
    height: calc(100vh - 220px);
  }
  .sidebar,
  .sidebar > div {
    min-width: 200px;
  }
  .main-content header {
    width: calc(100vw - 230px);
  }
  .sidebar {
    height: calc(100vh - 105px);
    padding: 15px 15px 0 15px;
  }

  /* Sidebar  */
  .nav-menu {
    justify-content: flex-start;
  }
  #logo img {
    width: 150px;
    margin-bottom: 20px;
  }
  .logo-lg {
    display: block;
  }
  .logo-sm {
    display: none;
  }
  .playlist.hidden {
    display: block;
  }
  .text.hidden {
    display: block;
  }
  .bot-side .nav-menu:last-child {
    border-top: 1px solid var(--gray-txt);
    padding-top: 10px;
  }
}
/* !Tablet!  */
@media screen and (min-width: 768px) {
  /* * Main Section  */

  /* Recently played  */
  .row li {
    width: 25%;
  }
  /* Footer ! */
  .song-menu {
    display: flex;
  }
  .song-menu .fa-heart {
    margin-right: 10px;
  }
  .song-info-container {
    display: flex;
  }
  .song-info:first-child {
    margin-right: 5px;
  }
}
/* !Laptop!  */
@media screen and (min-width: 1200px) {
  /* * Main Section  */

  /* Recently played  */
  .row li {
    width: calc(100% / 6);
  }
}
